.suggest {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: open sans, Helvetica, Arial, sans-serif;
}

.suggest__pending {
    position: absolute;
    top: 38px;
    right: 5px;
    width: 24px;
    height: 24px;
}

.suggest__input {
    padding: 12px 8% 12px 2%;
    margin: 0;
    background-color: var(--white);
    border-color: var(--silverChalice);
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    font-size: 0.813em;
    line-height: 15px;
}

.suggest__label {
    font-size: 0.875em;
    line-height: 30px;
}

.suggest__results {
    position: absolute;
    z-index: 100;
    top: 70px;
    width: 100%;
    max-height: 380px;
    padding: 0;
    border: 1px solid var(--mercury);
    margin: 0;
    background-color: var(--white);
    border-radius: 4px;
    box-shadow: 0 2px 2px var(--black);
    font-size: 0.875em;
    overflow-y: auto;
}

.suggest__results_hidden {
    display: none;
}

.visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
}
